<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>warpdrive.io</title>
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Tim Whitaker">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="">
</head>
<body>
    <header>
        <a id="logo" href="/">WARPDRIVE.IO</a>
        <span id="tagline">High Performance Development</span>
    </header>

    <div class="content">
        <div id="hero">
            <div id="particles"></div>
            <div id="hero-image"></div>
            <div id="hero-content">
                <h1 id="hero-title">Machine Learning Applications and Bots</h1>
                <p id="hero-description"></p>
                <div id="hero-buttons">
                    <button class="gradient-bg-1">Request Demo</button>                    
                    <button class="gradient-bg-2">Watch a Video</button>
                </div>
            </div>
        </div>

        <div id="press">
            <img src="images/press.jpg" />
        </div>

        <div id="benefits">
            <div class="item">
                <img class="benefit-icon" src="/images/ufo.png" />
                <h3 class="benefit-title">Number 1</h3>
                <p class="benefit-description">My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</p>
            </div>
            <div class="item">
                <img class="benefit-icon" src="/images/astronaut.png" />
                <h3 class="benefit-title">Number 2</h3>
                <p class="benefit-description">The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
            </div>
            <div class="item">
                <img class="benefit-icon" src="/images/wormhole.png" />
                <h3 class="benefit-title">Number 3</h3>
                <p class="benefit-description">Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
            </div>
        </div>

        <div class="video-container">
            <img src="/images/mockup.jpg" style="visibility:hidden;width:100%;max-height:80vh;">
            <div class="play-button"></div> 
        </div>

        <div id="contact">
            <h1>Contact Us</h1>
            <form>
                <fieldset>
                    <label>Your Name</label>
                    <input type="text" name="name"></input>
                </fieldset>
                <fieldset>
                    <label>Your Email</label>
                    <input type="email" name="email"></input>
                </fieldset>
                <fieldset>
                    <label>Message</label>
                    <textarea name="message" rows="8"></textarea>
                </fieldset>
            </form>
        </div>

    </div>
    <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script> 
    <script type="text/javascript" src="js/particles.min.js"></script>
    <script type="text/javascript">
        particlesJS.load('particles', "js/particles.settings");
    </script>
    <script>
        $('.video-container .play-button').click(function() {
            var natWidth = $('.video-container img')[0].naturalWidth;
            var natHeight = $('.video-container img')[0].naturalHeight;
            var scaledWidth = $('.video-container img').width();
            var scaledHeight = $('.video-container img').height();
            var ratio = natWidth/natHeight;

            var containerWidth = scaledHeight * ratio;
            var containerHeight = scaledHeight;

            $('.video-container').css('background-image', 'none');
            $('.video-container .play-button').remove();
            
            $('.video-container').append('<div class="video" style="position:absolute;width:' + containerWidth + 'px;height:' + containerHeight + 'px;margin:auto;top:0;left:0;right:0;bottom:0;"></div>');

            $('.video').append('<iframe width="' + containerWidth + '" height="' + containerHeight + '" src="https://player.vimeo.com/video/83075012?color=ffffff&title=0&byline=0&portrait=0&autoplay=1&autohide=1&iv_load_policy=3&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen></iframe>');
        });

        $(window).resize(function() {
            if ($('.video').length) {
                var natWidth = $('.video-container img')[0].naturalWidth;
                var natHeight = $('.video-container img')[0].naturalHeight;
                var scaledWidth = $('.video-container img').width();
                var scaledHeight = $('.video-container img').height();
                var ratio = natWidth/natHeight;

                var containerWidth = scaledHeight * ratio;
                var containerHeight = scaledHeight;
            
                $('.video').css({
                    'width': containerWidth,
                    'height': containerHeight
                });
                $('.video iframe').css({
                    'width': containerWidth,
                    'height': containerHeight
                });
            }
        });
    </script>
</body>
</html>
