<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>warpdrive.io</title>
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Tim Whitaker">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="">
</head>
<body>
    <header>
        <a class="logo" href="/">WARPDRIVE.IO</a>
        <nav></nav>
    </header>

    <div class="content">
        <div id="hero">
            <div id="particles"></div>
            <div id="hero-image"></div>
            <div id="hero-content">
            </div>
        </div>

        <div id="benefits">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>

        <div id="video-container">
        </div>

        <div id="proof">
        </div>
    </div>

    <script type="text/javascript" src="js/particles.min.js"></script>
    <script type="text/javascript">
        particlesJS.load('particles', "js/particles.settings");
    </script>
</body>
</html>
