header {
    background:none;
    width:100%;
}

p {
    font-family: merriweather, serif;
    font-size:1em;
    line-height:1.5em;
    letter-spacing:0.1px;
}

.gradient-bg-1 {
    background: linear-gradient(to right, rgba(34, 94, 168, 0.6), rgba(29, 145, 192, 0.6));
/*
    background: linear-gradient(to right, rgba(227,26,28, 0.6), rgba(252,78,42, 0.6));    
*/
}

.gradient-bg-2 {

    background: linear-gradient(to right, rgba(65, 182, 196, 0.5), rgba(127,205,187,0.5));    
/*
    background: linear-gradient(to right, rgba(252,78,42,0.5), rgba(253,141,60,0.5));  
*/
}


#logo {
    position:absolute;
    top:5px;
    left:5px;
    color:white;
    margin:0;
    z-index:10;
    text-decoration:none;
    font-size:2rem;
    line-height:2rem;
    letter-spacing:1px;
    font-weight:bold;
    padding: 0 5px;
}

#tagline
{
    position:absolute;
    top:5px;
    right:5px;
    color:white;
    margin:0;
    z-index:10;
    text-decoration:none;
    font-size:.75rem;
    line-height:2rem;
    letter-spacing:1px;
    text-transform:uppercase;
}

#hero {
    position:relative;
    height:90vh;
}

#particles {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  height:100%;
  width:100%;
  background:black;
}

#hero-image {
  position:absolute;
  top:0;
  left:0;
  z-index:2;
  height:100%;
  width:100%;
  overflow:auto;
  background: url("../images/space.png") no-repeat center center;
  background-size:cover;
  color:white;
  text-align:center;
}

#hero-image:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.5);
}

#hero-content {
    position:absolute;
    color:white;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
    max-width:600px;
    z-index:100;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

#hero-title {
    font-size:3rem;
    font-weight:bold;
    letter-spacing:1px;
    text-shadow:3px 3px 3px black;
    margin:0;
}

#hero-description {
    padding:20px 0;
    letter-spacing:1px;
    text-shadow:1px 1px 1px black;
    margin:0;
}

#hero-buttons {
    display:flex;
}

#hero-buttons button {
    padding:15px;
    margin-left:5px;
    color:white;
    border:3px solid white;
    text-transform:uppercase;
    letter-spacing:1px;
    cursor:pointer;
    flex:1 1 auto;
    position:relative
}

#hero-buttons button:after {
    content:'';
    position:absolute;
    opacity:0;
    z-index:-1;
    background:black;
    width:100%;
    height:100%;
    top:0;
    left:0;
    transition:all 0.3s;
    -webkit-backface-visibility: hidden;
}

#hero-buttons button:hover:after {
    opacity:1;
}


#press {
    max-width:980px;
    margin:0 auto;
}

#press img {
    width:100%;
}

#benefits {
    max-width:960px;
    display:flex;
    margin:0 auto;
}

.benefit-icon {
    margin:0 auto;
    width:150px;
}

.benefit-title {
    text-transform:uppercase;
}

.benefit-description {
    text-align:justify;
}

.item {
    flex:1;
    margin:15px;
    text-align:center;
}

.video-container {
    position:relative;
    width:100%;
    margin:0 auto;
    background-color:black;
    background-image: url('/images/mockup.jpg');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center top;
}

.play-button {
    height: 40px;
    width: 65px;    
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.video-container .play-button:hover {
    background-color:red;
    cursor:pointer;
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

#contact {
    max-width:600px;
    margin:0 auto;
}

#contact h1 {
    text-align:center;
}

#contact form fieldset {
    border:none;
}

#contact form fieldset input, #contact form fieldset textarea {
    width:100%;
    padding:5px;
    border:1px solid rgb(220,220,220);
}
