header {
    background:black;
    color:white;
    overflow:auto;
    width:100%;
}

#hero {
    position:relative;
    height:80vh;
}

#particles {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  height:100%;
  width:100%;
  background:black;
}

#hero-image {
  position:absolute;
  top:0;
  left:0;
  z-index:2;
  height:100%;
  width:100%;
  overflow:auto;
  background: url("/images/space.png") no-repeat center center;
  background-size:cover;
  color:white;
  text-align:center;
}

#hero-image:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.4);
}

#hero-content {
    position:absolute;
    color:white;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
    max-width:600px;
    z-index:100;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

#hero-title {
    font-size:3rem;
    font-weight:bold;
    letter-spacing:1px;
    text-shadow:3px 3px 3px black;
    margin:0;
}

#hero-description {
    padding:20px 0;
    letter-spacing:1px;
    text-shadow:1px 1px 1px black;
    margin:0;
}

#hero-form {
    display:flex;
}

#hero-input {
    flex:1 0 auto;
    padding:5px;
}

#hero-button {
    padding:15px;
    margin-left:5px;
    background:rgb(20,115,180);
    color:white;
    border:3px solid white;
    flex:0 0 auto;
    text-transform:uppercase;
    letter-spacing:1px;
    cursor:pointer;
    transition: background 0.3s;
}

#hero-button:hover {
    background:rgb(10,60,90);
}

#press {
    max-width:980px;
    margin:0 auto;
}

#press img {
    width:100%;
}

#benefits {
    max-width:1200px;
    display:flex;
    margin:0 auto;
}

.item {
    flex:1;
    border:1px solid black;
    height:300px;
    margin:15px;
}

.video-container {
    position:relative;
    width:100%;
    margin:0 auto;
    background-color:black;
    background-image: url('http://i.imgur.com/esS6zjg.jpg');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center top;
}

.play-button {
    height: 40px;
    width: 65px;    
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.video-container .play-button:hover {
    background-color:red;
    cursor:pointer;
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.logo {
  color:white;
  margin:0;
  z-index:10;
  text-decoration:none;
  font-size:2rem;
  letter-spacing:1px;
  font-weight:bold;
  padding: 0 5px;
}
